# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

.DS_Store
npm-debug.log
node_modules/
coverage/
checkstyle-result.xml
*.log
*.env
.nyc_output/
tmp/
package-lock.json
kubernetes/**/secret.yaml
env.rc
.vscode
params.rc
app/**/*.sandbox.js
.npmrc
.eslintrc.js